
# MySQL (Meeting Service)
MYSQL_ROOT_PASSWORD=Vibers@2112
MYSQL_DATABASE=mora
MYSQL_USER=root

# PostgreSQL (Portaria Service)
POSTGRES_DB=mora
POSTGRES_USER=admin
POSTGRES_PASSWORD=Vibers@2112

CONSUL_HOST=consul
CONSUL_PORT=8500